/* Base styles */

html {
 display: flex;
 justify-content: center;
}

body {
  height: 100%;
  display: table-cell;
  vertical-align: middle;
  padding-top: 50px;
  padding-bottom: 70px;
  padding-left: 100px;
  padding-right: 100px;
  max-width: 850px;
  font-family: 'Palatino Linotype', Palatino, 'Book Antiqua', serif;
  font-size: 1.25rem;
  line-height: 2rem;
  margin: 0;
}

h1 {
  font-family: 'Arial Black', Gadget, sans-serif;
  font-size: 5rem;
  line-height: 5.05rem;
  letter-spacing: -0.01em;
  margin-top: 20px;
  margin-bottom: 50px;
}

h2 {
  font-family: 'Lucida Console', Monaco, monospace;
  font-size: 2.25rem;
  line-height: 2.9rem;
  letter-spacing: 0.01em;
  margin-top: 40px;
  margin-bottom: 50px;
}

h3 {
  font-family: 'Arial Black', Gadget, sans-serif;
  text-transform: uppercase;
  font-size: 1.1rem;
  line-height: 1.3rem;
  letter-spacing: 0.1em;
  margin-top: 40px;
  margin-bottom: 35px;
}

p {
  margin-bottom: 30px;
}

ul {
  font-size: 1.25rem;
  line-height: 2.4rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin-bottom: 5px;
}

a {
  color: #0077b6;
  text-decoration: underline;
  text-underline-offset: 3px;
}

a:hover {
  color: #005f92 !important;
}

/* New classes */

.small-site-title {
  font-family: 'Arial Black', Gadget, sans-serif;
  font-size: 1.5rem;
  line-height: 1.8rem;
  letter-spacing: -0.01em;
  margin-top: 20px;
  margin-bottom: 90px;
}

.small-site-title a:hover {
  color: #005f92;
}

.linked-title {
  font-family: 'Lucida Console', Monaco, monospace;
  font-size: 1.7rem;
  line-height: 2.3rem;
  letter-spacing: 0.01em;  
  margin-top: 45px;
  margin-bottom: 20px;
}
