@-ms-viewport { 
  width: device-width; 
}

a {
  color: #0077b6;
  text-decoration: underline;
  text-underline-offset: 3px;
}

a:hover {
  color: #005f92 !important;
}

@media screen and (min-width: 700px) {
body {
  height: 100%;
  display: table-cell;
  vertical-align: middle;
  padding-top: 50px;
  padding-bottom: 70px;
  padding-left: 100px;
  padding-right: 100px;
  max-width: 850px;
  font-family: 'Palatino Linotype', Palatino, 'Book Antiqua', serif;
  font-size: 1.25rem;
  line-height: 2rem;
  margin: 0;
}}

@media screen and (max-width: 700px) {
body {
  height: 100%;
  display: table-cell;
  vertical-align: middle;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 50px;
  padding-right: 50px;
  max-width: 850px;
  font-family: 'Palatino Linotype', Palatino, 'Book Antiqua', serif;
  font-size: 1.00rem;
  line-height: 1.75rem;
  margin: 0;
}}

@font-face {
  font-family: 'Arial Black';
  src: url('/arial-black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@media screen and (min-width: 700px) {
h1 {
  font-family: 'Arial Black', Gadget, sans-serif;
  font-size: 5rem;
  line-height: 5.05rem;
  letter-spacing: -0.01em;
  margin-top: 20px;
  margin-bottom: 50px;
}}

@media screen and (max-width: 700px) {
h1 {
  font-family: 'Arial Black', Gadget, sans-serif;
  font-size: 3rem;
  line-height: 3.05rem;
  Font-weight: 800;
  letter-spacing: -0.01em;
  margin-top: 20px;
  margin-bottom: 50px;
}}

@media screen and (min-width: 700px) {
h2 {
  font-family: 'Lucida Console', Monaco, monospace;
  font-size: 2.25rem;
  line-height: 2.9rem;
  letter-spacing: 0.01em;
  margin-top: 40px;
  margin-bottom: 50px;
}}

@media screen and (max-width: 700px) {
h2 {
  font-family: 'Lucida Console', Monaco, monospace;
  font-size: 1.35rem;
  line-height: 2.0rem;
  letter-spacing: 0.01em;
  margin-top: 40px;
  margin-bottom: 45px;
}}

@media screen and (min-width: 700px) {
h3 {
  font-family: 'Arial Black', Gadget, sans-serif;
  text-transform: uppercase;
  font-size: 1.1rem;
  line-height: 1.3rem;
  letter-spacing: 0.1em;
  margin-top: 40px;
  margin-bottom: 35px;
}}

@media screen and (max-width: 700px) {
h3 {
  font-family: 'Arial Black', Gadget, sans-serif;
  text-transform: uppercase;
  font-size: 1rem;
  line-height: 1.3rem;
  letter-spacing: 0.1em;
  margin-top: 40px;
  margin-bottom: 35px;
}}

html {
 display: flex;
 justify-content: center;
}

li {
  margin-bottom: 5px;
}

.linked-title {
  font-family: 'Lucida Console', Monaco, monospace;
  font-size: 1.4rem;
  line-height: 2.3rem;
  letter-spacing: 0.01em;  
  margin-top: 45px;
  margin-bottom: 20px;
}

@media screen and (min-width: 700px) {
p {
  margin-bottom: 30px;
}}
  
@media screen and (max-width: 700px) {
p {
  font-size: 1.25rem;
  line-height: 1.8em;
  margin-bottom: 30px;
}}

.small-site-title {
  font-family: 'Arial Black', Gadget, sans-serif;
  font-size: 1.5rem;
  line-height: 1.8rem;
  letter-spacing: -0.01em;
  margin-top: 20px;
  margin-bottom: 90px;
}

.small-site-title a:hover {
  color: #005f92;
}

ul {
  font-size: 1.25rem;
  line-height: 2.4rem;
  list-style: none;
  margin: 0;
  padding: 0;
}
