/* Base styles */

html {
 display: flex;
 justify-content: center;
}

body {
  height: 100%;
  display: table-cell;
  vertical-align: middle;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 100px;
  padding-right: 100px;
  max-width: 850px;
  font-family: 'Palatino Linotype', Palatino, 'Book Antiqua', serif;
  font-size: 20px;
  line-height: 29px;
  margin: 0;
}

h1 {
  margin-top: 20px;
  margin-bottom: 50px;
  font-family: 'Arial Black', Gadget, sans-serif;
  font-size: 80px;
  line-height: 80px;
  letter-spacing: -0.01em;
}

h2 {
  margin-top: 40px;
  margin-bottom: 50px;
  font-family: 'Lucida Console', Monaco, monospace;
  font-size: 34px;
  line-height: 42px;
  letter-spacing: 0.01em;
}

h3 {
  margin-top: 40px;
  margin-bottom: 35px;
  font-family: 'Arial Black', Gadget, sans-serif;
  text-transform: uppercase;
  font-size: 17px;
  line-height: 20px;
  letter-spacing: 0.1em;
}

p {
  margin-bottom: 30px;
}

ul {
  font-size: 20px;
  line-height: 35px;
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin-bottom: 5px;
}

a {
  color: #0077b6;
  text-decoration: underline;
  text-underline-offset: 3px;
}

a:hover {
  color: #005f92 !important;
}

/* New classes */

.small-site-title {
  margin-top: 20px;
  margin-bottom: 90px;
  font-family: 'Arial Black', Gadget, sans-serif;
  font-size: 24px;
  line-height: 26px;
  letter-spacing: -0.01em;
}

.small-site-title a:hover {
  color: #005f92;
}

.linked-title {
  margin-top: 40px;
  margin-bottom: 20px;
  font-family: 'Lucida Console', Monaco, monospace;
  font-size: 25px;
  line-height: 27px;
  letter-spacing: 0.01em;
}

.list {
  font-size: 20px;
  line-height: 35px;
}

.list-item {
  margin-bottom: 5px;
}

.link {
  color: #0077b6;
  text-decoration: underline;
  text-underline-offset: 3px;
}

.link:hover {
  color: #005f92;
}
